---
layout: default
id: programme
style: true
---
<table>
    <tbody>
        {% for item in site.data.programme %}
        <tr class="{{ item.type }}">
            <td class="time">{{ item.start }}</td>
            <td>
                {% if item.type == 'invited' %}
                <span class="type">Invited lecture:</span>
                {% endif %}
                <a class="title" {% if item.abstract %}href="#abstract-{{ forloop.index }}"{% endif %}>{{ item.title }}</a>
                {% if item.type == 'invited' or item.type == 'contributed' %}
                <div class="speaker">
                {% if item.type == 'invited' %}
                <a href="speakers.html#{{ item.speaker }}">
                ({{ site.data.speakers[item.speaker].name }})
                </a>
                {% endif %}
                {% if item.type == 'contributed' %}
                ({{ item.speaker }})
                {% endif %}
                </div>
                {% if item.abstract %}
                <div class="abstract" id="abstract-{{ forloop.index }}">
                {{ item.abstract }}
                </div>
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
