---
layout: default
id: programme
style: true
---
<div class="notice">
    The workshop will take place on June 23rd in room 2945 (McLean Management Studies Lab) at the <a href=https://www.sfu.ca/mecs/facilities/harbour-centre.html>SFU Harbour Centre</a> in
Downtown Vancouver.
</div>
<table>
    <tbody>
        {% for item in site.data.programme %}
        <tr class="{{ item.type }}">
            <td class="time">{{ item.start }}</td>
            <td>
                {% if item.type == 'invited' %}
                <span class="type">Invited lecture:</span>
                {% endif %}
                <a class="title" {% if item.abstract %}href="#abstract-{{ forloop.index }}"{% endif %}>{{ item.title }}</a> {% if item.link %}(<a href={{ item.link }}>link to paper</a>){% endif %}
                {% if item.type == 'invited' or item.type == 'contributed' %}
                <div class="speaker">
                {% if item.type == 'invited' %}
                <a href="speakers.html#{{ item.speaker }}">
                ({{ site.data.speakers[item.speaker].name }})
                </a>
                {% endif %}
                {% if item.type == 'contributed' %}
                ({{ item.speaker }})
                {% endif %}
                </div>
                {% if item.abstract %}
                <div class="abstract" id="abstract-{{ forloop.index }}">
                {{ item.abstract }}
                </div>
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
